@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Saiba mais sobre mim:";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor : Maykon Emanuel Cardoso Rocha \o/.</p>
<p>
    - Atuação na área de Tecnologia da Informação, planejando, avaliando e executando o desenvolvimento do parque tecnológico da empresa, estabelecendo padrões e métodos para a organização e identificando soluções de problemas relacionados a TI.
<p>
    - Experiência na configuração de backup, tanto local via software Cobian, quanto nuvem via software Crash Plan, assim como com banco de dados via SQL, todas as rotinas citadas com notificação de email para os responsáveis.
</p>
<p>
<p>  - Realização de testes para a garantia do melhor funcionamento das estações e servidores, com o intuito de promover o melhor desempenho da máquina, eliminando processos e softwares desnecessários, promovendo maior segurança dos dados.
<p> - Participação de especificações de infraestrutura de TI, com elaboração de documentação técnica e orientações de melhorias.
<p>  - Criação de software em Java, com o intuito de automatizar a forma de agendar uma rotina de qualquer Script.
<p>
    - Implementação de serviços de otimização, segurança e gerenciamento, como Active Directory,
    File Server, Firewall, DNS, DHCP, compartilhamentos, permissões de usuários, scripts e GPO.
<p>
    - Desenvolvimento de aplicações em Java, em prol de otimização de procedimentos e integridade dos dados.
</p>




