@{
    ViewData["Title"] = "Contatos";
    ViewData["Message"] = "Entre em contato comigo.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Minas Gerais - Belo Horizonte<br />
    Bairro Tupi - Rua Anitta Malfati n° 59<br />
    <abbr title="Phone">31-993712719</abbr>
</address>

<address>
    <strong>Pessoal:</strong> <a href="mailto:maykontaio@hotmail.com">maykontaio@hotmail.com</a><br />
    <strong>Corporativo:</strong> <a href="mailto:maykon.rocha@mastermaq.com.br">maykon.rocha@mastermaq.com.br</a>
</address>

<p>Desenvolvedor : Maykon Emanuel Cardoso Rocha.</p>
<a href=" https://instagram.com/maykoncole"> Instagram </a>
<a href=" https://www.linkedin.com/in/maykon-emanuel-8764b5103/"> Linkedin </a>
<a href=" https://twitter.com/Maykon_Cole"> Twitter </a>
